<div class='container'>
    <div class="cover">
        <div class="front">
            <%= image_tag("forgot_password.svg", alt:"Forgot Password")  %>
        </div>
    </div>
    <div class="forms">
        <div class='form-content'>
            <div class="login-form">
                <div style="display:grid; place-items:center">
                    <div class='title'>
                        <h1 style="text-align:center">🔐</h1>
                        Forgot password?
                    </div>
                </div>
                <br>
                <div class="text" style="display:grid; text-align:center">
                    <span class="text-2">Don't worry! Just type in the email you registered with and we'll send you a new password.</span>
                </div>
                <%= form_with url: forgot_password_url, method: :post do |form| %>
                    <% flash.each do |name, msg| %>
                        <%= content_tag :div, msg, class: name, style:'text-align:center; margin-top:1rem' %>
                    <% end %>
                    <div class="input-boxes">

                        <div class="input-box">
                            <%= form.email_field :email, placeholder: "Enter your email", style:"text-align:center", required:true %>
                        </div>

                        <div class="button input-box">
                            <%= form.submit "Reset Password"%>
                        </div>
                        <div class="text sign-up-text">
                            Don't have an account? <%= link_to "Signup now", signup_path %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>


