<div class='container'>
    <div class="cover">
        <div class="front">
            <%= image_tag("forgot_password.svg", alt:"Forgot Password")  %>
        </div>
    </div>
    <div class="forms">
        <div class='form-content'>
            <div class="login-form">
                <div style="display:grid; place-items:center">
                    <div class='title'>
                        <h1 style="text-align:center">🔐</h1>
                        Reset password
                    </div>
                </div>
                <%= form_with url: reset_password_url, method: :post do |form| %>
                    <% flash.each do |name, msg| %>
                        <%= content_tag :div, msg, class: name, style:'text-align:center; margin-top:1rem' %>
                    <% end %>
                    <div class="input-boxes">

                        <div class="input-box">
                            <%= form.password_field :pswd, placeholder: "Enter current password", style:"text-align:center", :required=> true %>
                        </div>

                        <div class="input-box">
                            <%= form.password_field :new_password, placeholder: "Enter new password", style:"text-align:center", :required=> true %>
                        </div>

                        <div class="input-box">
                            <%= form.password_field :new_password_confirmation, placeholder: "Confirm password", style:"text-align:center", :required=> true %>
                        </div>

                        <div class="button input-box">
                            <%= form.submit "Reset Password"%>
                        </div>
                        <div class="text sign-up-text">
                            <%= link_to "Back to Dashboard", dashboard_path(session[:user]) %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
